<!DOCTYPE html>
<html>
<head>
    <title>Cloud Foundry S3 Image Demo</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Cloud Foundry S3 Image Demo</h1>
        <p>Utilizing Spring Boot, Spring Data, AWS SDK for Java, and Cloud Foundry</p>
    </div>

    <div class="page-header">
        <h1>Upload an Image</h1>
    </div>

    <form action="/upload" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="image">Image to upload:</label>
            <input type="file" id="image" name="file"/>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <div class="page-header">
        <h1>Images Uploaded</h1>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-4 col-xs-6" th:each="image : ${images}">
            <div class="thumbnail">
                <div class="img-wrapper">
                    <a href="#" data-toggle="modal" data-target="#image-gallery">
                        <img th:src="${image.url}" />
                    </a>
                </div>
                <a class="btn-delete" th:href="@{'/delete/'+${image.id}}" title="Delete Image">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
                <div class="caption">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span> <span class="image-title" th:text="${image.name}">Image Name</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    <span id="image-modal-title"></span>
                </h4>
            </div>
            <div class="modal-body">
                <img id="image-modal-image" class="img-responsive" src="" />
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-3.2.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".thumbnail").click(function () {
            $('#image-modal-image').attr('src', $(this).find('img').attr('src'));
            $('#image-modal-title').text($(this).find('.image-title').text());
        });

        $(".btn-delete").click(function () {
            if (!confirm("Are you sure you want to delete this image?")) {
                return false;
            }
        });
    });
</script>
</body>
</html>